html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  font-weight: 700;
  background-color: #849d8f;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding-top: 7px;
}

.header-logo {
  display: flex;
  margin-right: 10px;
}

.header-logo--catalog {
  margin-right: 10px;
}

.navigation {
  line-height: 18px;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.navigation-list,
.navigation-dropdown,
.user-list,
.advantages-list,
.bread-crumbs,
.catalog-list,
.pagination,
.footer-list,
.footer-nav-list,
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  border-radius: 20px;
  padding: 8px 14px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.navigation-link:hover,
.navigation_item:hover .navigation-link {
  background-color: #f7f6f3;
  color: #323232;
}

.navigation-link:active,
.navigation_item:active .navigation-link {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #323232
}

.navigation-link::after {
  content: "";
  position: absolute;
  width: calc(100% - 28px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 25px;
  left: 50%;
  transform: translateX(-50%)
}

.navigation_item {
  position: relative;
}

.navigation-link--catalog {
  background-color: #d07058;
}

.navigation-link--catalog::after {
  background-color: transparent;
}

.navigation_item--catalog .navigation-link{
  border-bottom: 0;
}

.navigation_item:hover .navigation-dropdown {
  display: block;
}

.navigation-dropdown {
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  display: none;
  top: 30px;
  left: -8px;
  padding-top: 4px;
  padding-bottom: 10px;
  z-index: 1;
}

.navigation-dropdown::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0px;
  width: 100%;
  padding-bottom: 15px;
  background-color: transparent;
}

.navigation-dropdown-item {
  padding: 7px 20px;
}

.navigation-dropdown-link {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.navigation-dropdown-link--important {
  font-weight: 700;
}

.navigation-dropdown-border {
  border-bottom: 2px solid #d3d3d2;
  opacity: 0.2;
  width: 128px;
  margin-left: 6px;
  margin-right: 9px;
}

.navigation-dropdown-item--catalog {
  background-color: #d07058;
}

.navigation-dropdown-item--catalog .navigation-dropdown-link {
  color: #ffffff;
}

.navigation-dropdown-item:hover {
  background-color: #fbded7;
}

.navigation-dropdown-item:active {
  background-color: #f6b5a5;
}

.navigation-dropdown-item: {
  background-color: #fbded7;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.user-item {
  display: flex;
  margin-top: 15px;
  margin-bottom: 17px;
  padding-right: 10px;
  position: relative;
}

.user-item:nth-child(3) {
  padding-right: 0;
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-link--disabled {
  opacity: 0.2;
}

.user-item .user-button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.user-button--loupe {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.user-icon {
  fill: #ffffff;
}

.user-button--login {
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #ffffff;
  padding-left: 44px;
  padding-right: 17px;
}

.user-icon-login {
  fill:#ffffff;
  position: absolute;
  left: 17px;
  top: 6px;
}

.user-icon-basket {
  position: absolute;
  top: 6px;
  left: 16px;
  fill:#ffffff;
}

.user-button--basket {
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #ffffff;
  padding-left: 44px;
  padding-right: 17px;
}

.user-button:hover svg {
  fill: #323232;
}

.user-button--login:hover .user-text--login,
.user-button--basket:hover .user-text-basket,
.user-button--catalog:hover .user-text-basket {
  color: #323232;
}

.user-button:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #323232
}

.user-item .user-button--catalog {
  min-width: 117px;
  border-radius: 15px;
  opacity: 0.99;
  background-color: #f8f7f4;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  padding-left: 44px;
  padding-right: 17px;
}

.user-button--catalog .user-text-basket{
  color: #323232;
}

.user-item:hover .user-popup {
  display: block;
}

.user-popup {
  position: absolute;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.user-popup--search {
  min-width: 340px;
  min-height: 82px;
  top: 35px;
  right: 11px;
  padding: 20px 15px;
}

.user-popup--search::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width:100%;
  padding-bottom: 10px;
  background-color: transparent;
}

.user-popup--login::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width:100%;
  padding-bottom: 10px;
  background-color: transparent;
}

.user-popup--basket::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width:100%;
  padding-bottom: 10px;
  background-color: transparent;
}

.user-popup--login {
  min-width: 277px;
  min-height: 214px;
  top: 37px;
  right: 7px;
  padding: 20px 18px;
}

.user-popup-input {
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 12px;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: #999999;
}

.user-popup-email,
.user-popup-password {
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  min-width: 242px;
  padding: 9px 16px;
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: #999999;
}

.user-popup-input:hover,
.user-popup-email:hover,
.user-popup-password:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.user-popup-input:focus,
.user-popup-email:focus,
.user-popup-password:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.user-popup--basket {
  min-width: 540px;
  min-height: 242px;
  padding: 19px 15px;
  top: 37px;
  right: 0;
}

.user-popup-row {
  display: flex;
  flex-wrap: wrap;
}

.user-popup-container {
  display: flex;
  flex-direction: column;
}

.usep-popup-item {
  display: flex;
  margin-bottom: 19px;
}

.user-image {
  border-radius: 50%;
  margin-right: 14px;
}

.user-popup--button {
  padding: 11px 26px;
  border: none;
  border-radius: 25px;
}

.user-popup-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 14px;
  padding-bottom: 4px;
}

.user-popup-link {
  position: absolute;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  text-align: left;
  color: #323232;
}

.user-popup-link--1 {
  left: 140px;
  top: 147px;
}

.user-popup-link--2 {
  left: 140px;
  top: 168px;
}

.user-popup-link-basket {
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  text-align: left;
  color: #323232;
  max-width: 216px;
  padding-top: 10px;
}

.user-popup-text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  text-align: left;
  color: #323232;
  margin-left: 30px;
  padding-top: 10px;
}

.user-popup-text--cost {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.23;
  text-align: left;
  color: #323232;
  opacity: 0.5;
  margin-left: 3px;
  padding-top: 10px;
}

.user-popup-text-total {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #323232;
  padding-left: 402px;
}

.usep-popup-item-total {
  border-top: 1px solid #cacac7;
  align-self: flex-end;
  padding-top: 11px;
  width: 100%;
}

.button--basket {
  border: none;
  border-radius: 30px;
  padding: 11px 14px;
  margin-top: 14px;
  position: absolute;
  right: 15px;
  bottom: 22px;
}

.text-time {
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  text-align: right;
}

.text-phone {
  font-size: 22px;
  line-height: 24px;
  margin: 0px;
  margin-top: 3px;
  text-align: right;
}

.site-wrapper {
  min-width: 940px;
  min-height: 582px;
  background-color: #849d8f;
  background-image: url("../img/two-ice.png");
  background-repeat: no-repeat;
  background-position: center 84px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;
  padding-top: 278px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-toggle {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/two-ice.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/two-ice-1.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/two-ice-2.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/two-ice-1.png");
}

.site-wrapper::after {
  background-image: url("../img/two-ice-2.png");
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
  text-align: left;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);

}

.button--slider {
  display: inline-block;
  padding: 12px 42px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  line-height: 1.38;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
}

.slide {
  display: none;
}

.free-gift-container {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
}

.free-gift-section {
  background-repeat: no-repeat;
  max-width: 560px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 24px;
  padding-left: 19px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.free-gift-section--1 {
  background-image: url("../img/raspberries.jpg");
}

.free-gift-section--2 {
  background-image: url("../img/chocolate.jpg");
}

.free-gift-subtitle {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.17;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
}

.free-gift-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  margin: 0;
  margin-bottom: 45px;
}

.button--free-gift-add {
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  padding: 10px 24px;
  border-radius: 25px;
}

.bread-crumbs {
  display: flex;
  position: relative;
  top: -20px;
}

.bread-crumbs-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  margin-right: 21px;
}

.bread-crumbs-link:hover,
.bread-crumbs-link:active {
  color: #ffbc9e;
}

.bread-crumbs-link-home::after,
.bread-crumbs-link-catalog::after {
  position: absolute;
  top: 6px;
  right: -10px;
  z-index: 1;
  width: 6px;
  height: 6px;
  box-shadow: 1px 1px 0 0 #ffffff;
  content: "";
  transform: rotate(-45deg) scale(0.73);
}

.bread-crumbs-link-home::before,
.bread-crumbs-link-catalog::before {
  position: absolute;
  top: 6px;
  right: -12px;
  z-index: 1;
  width: 6px;
  height: 6px;
  box-shadow: 1px 1px 0 0 #ffffff;
  content: "";
  transform: rotate(-45deg) scale(0.73);
}


.bread-crumbs-link--current {
  border-bottom: none;
}

.catalog-filter {
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
}

.catalog-filter-class {
  font-size: 14px;
  line-height: 1.14;
  margin-left: 16px;
  margin-bottom: 7px;
}

.catalog-sorting {
  margin-bottom: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 30px;
  min-width: 195px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 9px 12px;
  position: relative;
  border: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
  transition: .25s all ease;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.option {
  color: #323232;
}

.catalog-sorting:hover {
  color: #323232;
}

.select-wrapper:hover::after{
  border-color: #323232 transparent transparent transparent;
}

.catalog-sorting::-ms-expand {
  display: none;
}

.apply-filter {
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 9px 28px;
  margin-top: 23px;
  border: none;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.apply-filter:hover {
  color: #323232;
  background-color: #ffffff;
}

.apply-filter:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.main-navigation-product {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.catalog {
  position: relative;
  top: -10px;
}

.catalog-title {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}
.catalog-filter-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 13px;
}

.checkbox-container--scale {
  position: relative;
  min-width: 220px;
  min-height: 37px;
}

.scale-input {
  position: absolute;
  cursor: pointer;
  display: none;
}

.scale::before {
  content: "";
  position: absolute;
  left: 22px;
  width: 176px;
  top: 16px;
  height: 4px;
  background: rgba(255, 255, 255, 0.8);
}

.bar {
  position: absolute;
  left: 22px;
  top: 16px;
  width: 80px;
  height: 4px;
  margin-left: 33px;
  background: rgba(255, 255, 255);
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: rgba(255, 255, 255);
  background-color: #849d8f;
  padding: 0;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.toggle--min {
  left: 35px;
}

.toggle--max {
  left: 135px;
}

.radio-label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
  margin-right: 18px;
}

.radio {
  position: absolute;
  cursor: pointer;
  display: none;
}

.radio + .radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radio:checked + .radio-label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radio-label:hover::before {
  border-color: rgba(255, 255, 255, 1);
}

.radio:hover + .radio-label:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.radio:disabled + .radio-label::before,
.radio:disabled + .radio-label::after {
  border-color: rgba(255, 255, 255, 0.4);
}

.checkbox-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  user-select: none;
  margin-right: 18px;
}

.checkbox {
  position: absolute;
  cursor: pointer;
  display: none;
}

.checkbox + .checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 22px;
  opacity: 0.8;
  background-image: url("../img/checkbox-off.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.checkbox:checked + .checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: contain;
}

.checkbox:hover + .checkbox-label::before {
  opacity: 1;
}

.checkbox:disabled + .checkbox-label::before {
  opacity: 0.4;
}

.checkbox-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 9px 0px 9px 15px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.ice-cream-hit {
  position: absolute;
}

.ice-cream {
  max-width: 267px;
  position: relative;
  margin-bottom: 40px;
}

li:nth-child(4n) {
  margin-right: 0;
}

.ice-cream-title {
  text-align: center;
  margin: 0;
  max-width: 260px;
  padding-top: 10px;
  padding-left: 4px;
}

.ice-cream-title--link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ice-cream-title--link:hover,
.ice-cream-title--link:active {
  color: #ffbc9e;
}

.ice-cream-image {
  border-radius: 50%;
}

.ice-cream-cost {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin: 0;
  position: absolute;
  top: 209px;
  left: 0;
}

.ice-cream-currency{
  position: absolute;
  top: 213px;
  left: 80px;
}

.ice-cream-kg {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  position: absolute;
  top: 226px;
  left: 111px;
  margin: 0;
}

.ice-cream-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 322px;
}

.ice-cream-container::before {
  content: "";
  position: absolute;
  width: 293px;
  height: calc(100% + 85px);
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: -5px;
  left: -13px;
  border-radius: 5px;
}

.ice-cream-container::before {
  display: none;
  z-index: -1;
}

.ice-cream-container:hover::before {
  display: block;
}

.ice-cream-container .button--ice-cream-link {
  display: none;
}

.ice-cream-container:hover .button--ice-cream-link {
  display: block;
}

.ice-cream-container:hover {
  z-index: 5;
}

.button--ice-cream-link {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  padding: 13px 17px;
  border-radius: 25px;
  position: absolute;
  top: 335px;
  left: 30px;
  z-index: 2;
}

.advantages {
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 28px;
  padding-bottom: 26px;
  min-width: 1146px;
  min-height: 306px;
}

.advantages-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  margin: 0;
}

.advantages-item-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  margin: 0;
}

.advantages-list {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  max-width: 531px;
  position: relative;
  padding-left: 55px;
  padding-top: 22px;
}

.advantages-item--ice::before,
.advantages-item--eco::before,
.advantages-item--cow::before,
.advantages-item--thermometer::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  left: -1px;
  top: 10px;
}

.advantages-item--ice::before {
  background-image: url("../img/ice-cream.svg");
}

.advantages-item--eco::before {
  background-image: url("../img/eco.svg");

}

.advantages-item--cow::before {
  background-image: url("../img/cow.svg");
}

.advantages-item--thermometer::before {
  background-image: url("../img/thermometer.svg");
}


.blog-container{
display: flex;
margin-top: 39px;
margin-bottom: 40px;
justify-content: space-between;
}

.blog {
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 24px;
  padding-bottom: 26px;
  min-width: 560px;
  min-height: 220px;
}

.blog-text {
  font-weight: 500;
  color: #323232;
  margin: 0;
  margin-bottom: 5px;
}

.blog-link {
  color: #323232;
  line-height: 30px;
}

.blog-subtitle {
  width: 290px;
  margin: 0;
}

.blog-link:hover,
.blog-link:active {
 color: #e84d37;
}

.subscribe {
  background-image: url("../img/post.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  max-width: 560px;
}

.subscribe-container {
  border-radius: 10px;
  background-color: #f8f7f4;
  margin: 5px;
  padding: 31px 22px;
  min-width: 549px;
  min-height: 211px;
}

.subscribe-text {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
}

.subscribe-input {
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  min-width: 368px;
  padding: 12px 13px;
  margin-right: 9px;
}

.subscribe-input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.subscribe-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}


.button-subscribe {
  border-radius: 25px;
  padding: 10px 16px;
  border: none;
}


.pagination {
  display: flex;
  margin-bottom: 3px;
  margin-top: 31px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.pagination-conteiner {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-bottom: 29px;
  list-style: none;
}

.pagination-item {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-right: 1px;
}

.pagination-item--current {
  background-color: #fff;
  border-radius: 50%;
}

.pagination-item--current .pagination-link {
  color: #323232;
}



.pagination-item:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:hover .pagination-link {
  color: #ffffff;
}


.pagination-item--prev:hover,
.pagination-item--next:hover {
  border-radius: 0;
  background-color: transparent;
}

.pagination-item:active {
  background-color: #fff;
  border-radius: 50%;
}

.pagination-item:active .pagination-link {
  color: #000;
}

.pagination-item--prev:active,
.pagination-item--next:active {
  border-radius: 0;
  background-color: transparent;
}

.pagination-item--prev {
  transform: rotateY(180deg);
  justify-content: flex-end;
}

.pagination-item--next {
  justify-content: flex-end;
}

.pagination-link {
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  text-decoration: none;
}

.map {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.contacts {
  text-align: left;
  color: #323232;
  position: absolute;
  max-width: 302px;
  min-height: 305px;
  background-color: #ffffff;
  display: inline-block;
  top: 63px;
  right: 27px;
  border-radius: 15px;
  padding: 28px 25px 33px 25px;

}

.contacts-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.40;
  margin: 0;
  padding-right: 94px;
  margin-bottom: 3px;
}

.contacts-text--phone {
  padding-right: 80px;
}

.contacts-text-address {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  margin: 0;
  margin-bottom: 19px;
}

.contacts-text-address--phone {
  line-height: 1.57;
  margin: 0;
}

.contacts-text--time {
  line-height: 1.57;
  margin-bottom: 32px;
}

.button--feedback {
  text-decoration: none;
  padding: 11px 27px;
  border-radius: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 26px;
 }

.footer-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: 200px;
}

.footer-item {
  display: flex;
  padding-right: 14px;
}

.footer-nav {
  margin-top: 14px;
  min-width: 360px;
  padding-left: 24px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 325px;
}

.footer-nav-item {
  margin-right: 32px;
  position: relative;
}

.footer-nav-icon--provider::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -22px;
  top: 5px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-icon {
  opacity: 0.8;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  background-size: cover;
  border-radius: 50%;
  box-sizing: border-box;
}

.footer-nav-icon--eco {
  margin-left: 11px;
}

.footer-icon:hover{
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-icon:active {
  opacity: 0.8;
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-icon--twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.footer-icon--instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.footer-icon--fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.footer-icon--vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.footer-nav-icon {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-nav-icon--provider {
  font-weight: 700;
}

.footer-site-icon:hover,
.footer-site-icon:active,
.footer-nav-icon:hover,
.footer-nav-icon:active {
  color: #ffbc9e;
}

.footer-logo {
  min-width: 189px;
}

.footer-text {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.footer-site-icon {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal {
  display: none;
  min-width: 478px;
  padding: 15px 25px;
  min-height: 443px;
  border-radius: 10px;
  background-color: #f8f7f4;
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--feedback:active .modal {
  display: block;
}

.modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-align: left;
  color: #323232;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-name,
.modal-email {
  max-width: 267px;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  }

.modal-name:hover,
.modal-email:hover,
.modal-text:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);

}

.modal-name:focus,
.modal-email:focus,
.modal-text:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.modal-text {
  width: 100%;
  min-height: 155px;
  padding: 8px 15px;
  resize: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

.modal--button {
  border: none;
  border-radius: 25px;
  padding: 10px 24px;
  margin-left: auto;
}

.modal-button-close {
  width: 18px;
  height: 17px;
  padding: 0;
  margin: 0;
  border: 0;
  right: 15px;
  top: 15px;
  position: absolute;
  background: none;
  background-image: url("../img/cross-big.svg");
}


