body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  font-weight: 700;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
}

.header-logo {
  display: flex;
  margin-right: 24px;
}

.header-logo--catalog {
  margin-right: 10px;
}

.navigation {
  line-height: 18px;
}

.navigation--catalog {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.navigation-list,
.navigation-dropdown,
.user-list,
.advantages-list,
.bread-crumbs,
.catalog-list,
.pagination,
.footer-list,
.footer-nav-list,
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 28px;
}

.navigation-link--catalog {
  text-decoration: none;
  background-color: #d07058;
  margin-right: 14px;
}

.navigation-link:hover,
.navigation-link:active {
  color: #323232;
}

.navigation-dropdown {
  background-color: #f8f7f4;
  display: none;
}

.navigation-dropdown-link {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.navigation-dropdown-link--important {
  font-weight: 700;
}

.navigation-dropdown-link:hover {
  background-color: #fbded7;
}

.navigation-dropdown-link:active {
  background-color: #f6b5a5;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.user-item {
  display: flex;
  padding-left: 8px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.user-button--loupe {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.user-button {
  border: 0;
  padding: 0;
  color: #ffffff;
}

.user-button--active {
  background-color: #f8f7f4;
  color: #323232;
}

.user-button:hover {
  color: #323232;
}

.user-icon {
  fill: #ffffff;
}

.user-button:hover .user-icon {
  fill: #323232;
}

.user-popup {
  display: none;
}

.header-aside {
  top: 100%;
  right: 27px;
}

.text-time {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
}

.text-phone {
  font-size: 22px;
  line-height: 24px;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}

.slider {
  background-image: url("../img/two-ice-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider-description {
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
  text-align: left;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);

}

.button--slider {
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  line-height: 1.38;
  text-align: center;
}

.slider-switch {
  padding: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.slider-switch--active {
background-color: #ffffff;
}

.free-gift-subtitle {
  font-size: 35px;
  line-height: 1.17;
  text-align: left;
}

.free-gift-text {
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
}

.button--free-gift-add {
  text-align: center;
  text-decoration: none;
}

.bread-crumbs {
  display: flex;
}

.bread-crumbs-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bread-crumbs-link--current {
  border-bottom: none;
}

.catalog-filter {
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
}

.catalog-filter-class {
  font-size: 14px;
  line-height: 1.14;
}

.catalog-sorting {
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.catalog-sorting:hover {
  color: #323232;
}

.apply-filter {
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #ffffff;
}

.apply-filter:hover {
  color: #323232;
  background-color: #ffffff;
}

.apply-filter:active {
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.main-navigation-product {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.catalog-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

li:nth-child(4n) .ice-cream-image {
  margin-right: 0;
}

.ice-cream-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  width: 252px;
  display: flex;
  margin-bottom: 40px;
}

.ice-cream-image {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-right: 26px;
}

.ice-cream-cost {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin: 0;
  width: 162px;
}

.ice-cream-kg {
  font-size: 30px;
}

.ice-cream-link {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  display: none;
}

.advantages {
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 15px;
  margin-left: 27px;
  margin-right: 27px;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 26px;
}

.advantages-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.advantages-list {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 480px;
  margin-top: 10px;
}

.advantages-item:nth-of-type(even) {
  margin-left: 33px;
}

.blog-container{
display: flex;
margin-left: 27px;
margin-right: 27px;
margin-top: 40px;
margin-bottom: 40px;
justify-content: space-between;
}

.blog {
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 520px;
}

.blog-text {
  font-weight: 500;
  color: #323232;
  margin: 0;
  margin-bottom: 13px;
}

.blog-link {
  color: #323232;
  font-family: Roboto;
  line-height: 30px;
}

.blog-subtitle {
  width: 290px;
  margin: 0;
}

.subscribe {
  background-image: url("../img/post.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 21px;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-right: 21px;
  width: 520px;
}

.subscribe-text {
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 38px;
}

.subscribe-input {
  color: #323232;
  line-height: 24px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.pagination-item {
  text-align: right;
}

.pagination-link {
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-link:active {
  background-color: #ffffff;
  color: #000000;
}

.contacts {
  text-align: left;
  color: #323232;
  display: none;
}

.contacts-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
}

.contacts-text-address {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.contacts-text-address--phone {
  line-height: 1.57;
}

.contacts-text--time {
  line-height: 1.57;
}

.button--feedback {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 26px;
}

.footer-list {
  display: flex;
  margin-top: 18px;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item {
  display: flex;
  padding-right: 10px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  opacity: 0.8;
  width: 38px;
  height: 38px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  background-size: cover;
  border-radius: 50%;
  box-sizing: border-box;
}

.footer-icon:hover{
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-icon:active {
  opacity: 0.8;
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-icon--twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}

.footer-icon--instagram {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.footer-icon--fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.footer-icon--vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
}

.footer-nav-icon {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-nav-icon--provider {
  font-weight: 700;
}

.footer-nav-icon:hover {
  color: #ffbc9e;
}

.footer-nav-icon:active {
  color: #ffbc9e;
}

.footer-text {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-top: 8px;
}

.footer-site-icon {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal {
  display: none;
}
